---
import BaseLayout from "@/layouts/BaseLayout.astro";
import { motion } from "framer-motion";
import { buttonVariants } from "@/components/ui/button";
---

<BaseLayout>
  <div class="gradient-background">
    <section
      class="h-dvh flex flex-col items-start justify-center px-12 gap-10"
    >
      <motion.div
        className="flex flex-col items-start justify-center w-full"
        initial={{ y: -20, opacity: 0 }}
        whileInView={{ y: 0, opacity: 1 }}
        transition={{ duration: 0.8, ease: "easeOut", delay: 0.2 }}
        client:load
      >
        <h1 class="text-3xl text-white">Hello 👋, I'm Zhi Jie.</h1>
        <h1 class="text-3xl text-white">A software engineer.</h1>
        <h2 class="text-2xlxl text-gray-300 mt-6 max-w-xl">
          Passionate Full-Stack Developer dedicated to the T-shaped growth
          philosophy. While proficient across the entire web stack, I focus my
          deepest expertise on the frontend to deliver polished, scalable, and
          accessible digital products.
        </h2>
      </motion.div>
      <motion.div
        className="flex flex-col items-start justify-center w-full"
        initial={{ y: -20, opacity: 0 }}
        whileInView={{ y: 0, opacity: 1 }}
        transition={{ duration: 0.8, ease: "easeOut", delay: 0.2 }}
        client:load
      >
        <div class="flex flex-row items-center gap-6 text-card-foreground">
          <a
            class={buttonVariants({})}
            href="/react/01-fundamentals/01-rendering-behaviours"
            >Personal Knowledge Repository</a
          >
        </div>
      </motion.div>
    </section>
    <section
      class="w-full h-dvh flex flex-col items-start justify-center px-30 gap-10"
    >
      <motion.div
        className="flex flex-col items-start justify-center w-full"
        initial={{ y: -20, opacity: 0 }}
        whileInView={{ y: 0, opacity: 1 }}
        transition={{ duration: 0.8, ease: "easeOut", delay: 0.2 }}
        client:load
      >
        <h2 class="text-2xlxl text-gray-400 mt-6 max-w-xl">
          This site is under heavy renovation. Stay tuned for more changes!
        </h2>
      </motion.div>
    </section>
  </div>
</BaseLayout>

<style>
  .gradient-background {
    height: fit-content;
    width: 100%;
    padding: 0;
    margin: 0;
    background: linear-gradient(
      85deg,
      rgb(0, 0, 0),
      rgb(3, 3, 37),
      rgb(127, 255, 212)
    );
    background-size: 180% 180%;
  }
</style>
